<link rel="stylesheet" type="text/css" href="static/content.css">

<table>
    <tr>    
        <th>Name</th>
        <th>Type</th>
        <th>Delete</th>
        <th>Download</th>
        <th>View</th>
    </tr>
   
    {% for file in file_list %}    
   
    <tr>
        <td>{{ file.name }}</td>   
        <td>{{ file.mimeType }}</td>
        <td><form method="post" action="/delete"><input type="hidden" name="NAME" value="{{ file.name }}"><input type="submit" value="Delete"></form></td>
        <td><form method="post" action="/download"><input type="hidden" name="NAME" value="{{ file.name }}"><input type="submit" value="Download"></form></td>
        <td><form method="post" action="/view"><input type="hidden" name="NAME" value="{{ file.name }}"><input type="submit" value="View"></form></td>
    </tr>    

    {% endfor %}
   
</table>