<link rel="stylesheet" type="text/css" href="static/content.css">

<table>
    <tr>    
        <th>Name</th>
        <th>Type</th>
        <th>Delete</th>
        <th>Download</th>
        <th>URL</th>
    </tr>
   
    {% for file in file_list %}    
   
    <tr>
        <td>{{ file.name }}</td>   
        <td>{{ file.mimeType }}</td>
        <td><form method="post" action="/delete"><input type="hidden" name="NAME" value="{{ file.name }}"><input type="submit" value="Delete"></form></td>
        <td><form method="post" action="/download"><input type="hidden" name="NAME" value="{{ file.name }}"><input type="submit" value="Download"></form></td>
<!--         <td><form method="post" action="/view"><input type="hidden" name="NAME" value="{{ file.name }}"><input type="submit" value="View"></form></td> -->
    	<td><a href='{{ file.download_url }}'>{{ file.download_url }}</a></td>
<!--     	<td><video src="{{ file.download_url }}" width="320" height="240" controls></video></td> -->
<!--     	<td><audio src="{{ file.download_url }}" controls></audio></td> -->
    </tr>    

    {% endfor %}
   
</table>