<!DOCTYPE html>

<html>
	<title>File Vault</title>
    
	<head>	
        <link rel="stylesheet" href="Styles/StyleSheet.css" type="/text/css"/> 

		<script src="Scripts/FV_MainMenu.js"></script>
		<script src="Scripts/FV_AudioBrowser.js"></script>
		<script src="Scripts/FV_VideoBrowser.js"></script>
		<script src="Scripts/FV_TextBrowser.js"></script>
		<script src="Scripts/FV_ImageBrowser.js"></script>
		<script src="Scripts/FV_OtherBrowser.js"></script>
		<script src="Scripts/FV_ModalStream.js"></script>
		<script src="Scripts/FV_ModalRename.js"></script>
		<script src="Scripts/FV_SortTable.js"></script>
		<script src="Scripts/FV_Table.js"></script>
		<script src="Scripts/TestData.js"></script>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://malsup.github.com/chili-1.7.pack.js"></script>
		<script type="text/javascript" src="jquery.metadata.js"></script> 
		<script type="text/javascript" src="http://github.com/malsup/media/raw/master/jquery.media.js?v0.92"></script>
		
	</head>
	<body>
		<div id = "Title">
		<center> File Vault </center>
		</div>
		
		<div id="MainWindow">
		</div>
		<script>
		//Load the Main Menu into the MainWindow Div to start...
		var MainWindow, MainMenuDiv, VideoBrowserDiv, AudioBrowserDiv, ImageBrowserDiv, TextBrowserDiv, OtherBrowserDiv;
		MainWindow = document.getElementById("MainWindow");
		MainMenuDiv = new MainMenu();
		MainWindow.appendChild(MainMenuDiv.Load());
		</script>
	</body>	
</html>
